---
title: Inlägg 1
date: "2024-05-06"
keywords: ["adding tasks", "gallery"]
---

Starten på hemsidan

**Jag har börjat på startskärmen för nyhetshemsidan, där man kan
välja vilken artikel man vill läsa. Jag har näst intill endast stylat
just nu och ska börja försöka få till själva hantering av hemsidan.
Jag vill också få det så att man på ett lätt sätt kan skapa flera artiklar utan
att det blir massor med kod.**